@charset "UTF-8";

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, span {
  margin: 0;
  color: #666;
}

.campos {
  width: 90%;
  height: 30px;
  padding: 2px 0 0 10px;
  border-radius: 6px;
  border: 1px solid #bbb6b6;
  color: #757575;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -155px;
  /* border:1px solid #666; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 4px -1px rgb(0 0 0 / 32%);
}

.btn {
  width: 245px;
  height: 32px;
  background-color: #00aa00;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  margin-top: 5px;
}

.logoBox {
  width: 111px;
  height: 52px;
  background-image: url(../imagens/logoLeo.png);
  background-size: contain;
}

/* container */
.container {
  max-width: 1920px;
  width: 100%;
}

/* header */
header {
  position: relative;
  top: 0;
  height: auto;
  width: 100%;
}

/* navbar */
nav {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.nav:after {
  clear: both;
  content: "";
  display: block;
}

.navf:after {
  clear: both;
  content: "";
  display: block;
}

.navContainer {
  max-width: 1200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  /* border: 1px solid #ffa000; */
  height: 100px;
  padding-left: 1px
}

.footContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  min-height: 200px;
  /* border: 1px solid #ffa000; */
}

#logo {
  width: 111px;
  height: 52px;
  margin-top: 23px;
  /* border: 1px solid #ffa000; */
}

#logof {
  width: 111px;
  height: 52px;
  margin-top: 30px;
  opacity: .3;
  /* border: 1px solid #ffa000; */
}

.logoFoot {
  width: 340px;
  height: 200px;
  /* border: 1px solid #ffa000; */
}

.linksFooter {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 420px;
  height: 200px;
  /* border: 1px solid #ffa000; */
  padding-top: 30px;
}

.navContainer ul {
  float: right;
  height: 100px;
  line-height: 100px;
  margin: 0;
}

.navContainer li {
  list-style: none;
  float: left;
  margin: 0 15px;
}

.divInput {
  width: 250px;
  height: 98px;
  /* border: 1px solid #ffa000;    */
  display: flex;
  justify-content: center;
  align-items: center;
}

.divUser {
  width: 180px;
  height: 98px;
  /* border: 1px solid #ffa000;    */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sanduiche {
  width: 40px;
  height: 98px;
  /* border: 1px solid #ffa000; */
  display: none;
  justify-content: center;
  align-items: center;
}

.sandExtra {
  font-size: 33px;
}

#inputCx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 40px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
}

#psq {
  width: 185px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}

.buttonSrc {
  width: 35px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: .5s;
}

.buttonSrc:hover {
  transform: scale(1.2);
}

input::placeholder {
  color: #ccc
}

.tabUser {
  border-collapse: collapse;
  border: 1px solid #666;
  width: 175px;
  height: 40px;
}

#td1 {
  width: 45px;
  border: 1px solid #666;
}

#td2 {
  width: 105px;
  line-height: 20px;
  border: 1px solid #666;
  font-size: 11px;
}

#td3 {
  width: 25px;
  line-height: 20px;
  border: 1px solid #666;
}

.baseUser {
  display: flex;
  /* border: 1px solid #666; */
  width: 175px;
  height: 40px;
}

.infoUser {
  /* border: 1px solid #666; */
  width: 111px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 2px;
}

#bemVindo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  /* border: 1px solid #666; */
  width: 112px;
  height: 14px;
  line-height: 14px;
  font-size: 11px;
  color: #aaa;
  padding-top: 3px;
}

#nomeUser {
  display: flex;
  align-items: flex-start;
  /* border: 1px solid #666; */
  width: 112px;
  height: 20px;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.openUser {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #666; */
  width: 15px;
  height: 40px;
  line-height: 40px;
}

.fotoUser {
  border: 2px solid #666;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url(../imagens/silhueta.png);
  background-size: contain;
}

.mainBanner {
  position: relative;
  top: 99px;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 300px;
  background-color: #999999;
}

.containerCursos {
  position: relative;
  top: 99px;
  left: 0;
  max-width: 1200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  min-height: 200px;
  /* border:1px solid #ff0000; */
}

.tituloCursos {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 50px;
  /* border: 1px solid #666; */
  padding-left: 1px

}

.tituloCursos h2 {
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc;
  width: 99.5%;
}

.baseCursos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  min-height: 100px;
  /* border:1px solid #00ff00; */
  margin-top: 20px;
}

.cardCurso {
  width: 280px;
  height: 320px;
  /* border: 1px solid #5022f0; */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 4px -1px rgb(0 0 0 / 32%);

}

.cardCurso button {
  width: 245px;
  height: 32px;
  background-color: #00aa00;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.addCard {
  background-image: url(../imagens/addCurso.png);
  background-size: contain;
  border: 2px dashed #ccc;
  cursor: pointer;
}

.bannerCard {
  width: 280px;
  height: 139px;
  /* border: 1px solid #00ff00; */
}

.txtCurso {
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  height: auto;
  min-height: 120px;
  /* border: 1px solid #00ffd0; */
  padding-left: 10px;
  padding-right: 10px;
}

.txtCurso h2 {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
}

.txtCurso p {
  font-size: 13px;
  margin-top: 10px;
  color: #888;
}

footer {
  position: relative;
  top: 99px;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: auto;
  min-height: 200px;
  background-color: #fff;
}

.copyDiv {
  position: relative;
  top: 99px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #ccc;
}

.copyText {
  position: relative;
  top: 0px;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  min-height: 30px;
  padding-left: 10px;
}

.copyText {
  font-size: 11px;
  color: #ccc;
}

.textFoot {
  width: 350px;
  height: 40px;
}

.textFoot p {
  font-size: 12px;
  color: #ccc;
}

.labelLinks {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #666;
}

.links {
  font-size: 12px;
  color: #AAAAAA;
}

.tabLinks {
  border-collapse: collapse;
}

.msgErro {
  font-size: 12px;
  font-weight: bold;
  color: #ff0000;
  text-transform: uppercase;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  visibility: hidden;
}
.modalInCurso {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 500px;
  margin-left: -350px;
  margin-top: -250px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 1px 4px -1px rgb(0 0 0 / 38%);
  z-index: 3;
  visibility: hidden;
}
.btnCad{
  width: 245px;
  height: 32px;
  background-color: #00aa00;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  transition: .5s;
}
.btnCadOff{
  width: 245px;
  height: 32px;
  background-color: #dddddd;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
  transition: .5s;
}
.baseForm{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: 370px;
  margin-top: 30px;
  /* border: 1px solid #ff0000; */
}
.baseForm input{
  margin-top: 7px;
  margin-bottom: 7px;
}
.tituloInCurso {
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  font-size: 18px;
  color:#888888;
  /* border: 1px solid #ff0000; */
  padding-left: 30px;
}
.frameImg{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: 180px;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  /* border: 1px solid #ff00f0; */
}
.iFrameUpload{
  width:50%;
  height: 137px;
  border: 1px solid #000;
}
.fileInput{
  width: 350px;
  margin-bottom: 3px;
}
.modal1 {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 444px;
  margin-left: -400px;
  margin-top: -222px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background-image: url(../imagens/backModal.jpg);
  background-size: cover;
  -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 1px 4px -1px rgb(0 0 0 / 38%);
  z-index: 3;
  visibility: hidden;
}


.supModal {
  width: 100%;
  height: 50%;
}

.subModal {
  width: 100%;
  height: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-bottom-right-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.closeModal {
  position: relative;
  width: 45px;
  height: 45px;
  float: right;
  top: -20px;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
.closeModal2 {
  position: relative;
  width: 45px;
  height: 45px;
  float: right;
  top: -20px;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border:1px solid #AAA;
  cursor: pointer;
}
.contentModal {
  width: 60%;
  height: auto;
  min-height: 150px;
  /* border: 1px solid #ff0000; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contentModal h2 {
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
}

.contentModal p {
  font-size: 14px;
  color: #999;
}

.btBlue {
  width: 245px;
  height: 32px;
  background-color: #0099ff;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.aparenceForms{
    border: 1px solid #cccccc;
    width:90%;
    height: 35px;
    border-radius: 6px;
    margin-top: 5px;
    outline:
}
@media (min-width: 1601px) {}

@media (min-width: 1024px) and (max-width: 1600px) {}

@media (min-width: 768px) and (max-width: 1023px) {
  .modal1 {
    width: 600px;
    height: 333px;
    margin-left: -300px;
    margin-top: -165.5px;
  }

  .contentModal {
    width: 70%;
    height: auto;
    min-height: 120px;
    /* border: 1px solid #ff0000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .contentModal h2 {
    text-transform: uppercase;
    color: #000;
    font-size: 19px;
  }

  .contentModal p {
    font-size: 14px;
    color: #999;
  }

  .footContainer {
    justify-content: center;
  }

  .linksFooter {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 340px;
    height: 160px;
    padding-top: 30px;
  }

  .logoFoot {
    width: 340px;
    height: 150px;
  }

  .navContainer {
    padding-left: 12px;
  }
  .tituloCursos {
    padding-left: 10px
  }
  .modalInCurso {
    top: 50%;
    left: 50%;
    width: 700px;
    height: 520px;
    margin-left: -350px;
    margin-top: -260px;

    /* visibility: hidden; */
  }
  .baseForm{
    width: 100%;
    height: 430px;
  }
  .frameImg{
    width: 100%;
    height: 180px;

  }
}

@media (min-width: 540px) and (max-width: 767px) {
  .divInput {
    display: none;
  }

  .divUser {
    display: none;
  }

  .sanduiche {
    display: flex;
  }

  .modal1 {
    width: 500px;
    height: 278px;
    margin-left: -250px;
    margin-top: -139px;
  }

  .contentModal {
    width: 70%;
    height: auto;
    min-height: 120px;
    /* border: 1px solid #ff0000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .contentModal h2 {
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
  }

  .contentModal p {
    font-size: 13px;
    color: #999;
  }

  .footContainer {
    justify-content: center;
  }

  .linksFooter {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 340px;
    height: 150px;
    padding-top: 30px;
  }

  .logoFoot {
    width: 340px;
    height: 130px;
  }

  .navContainer {
    padding-left: 12px;
  }
  .tituloCursos {
    padding-left: 10px
  }
  .modalInCurso {
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
  }
  .baseForm{
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 376px) and (max-width: 539px) {
  .divInput {
    display: none;
  }

  .divUser {
    display: none;
  }

  .sanduiche {
    display: flex;
  }

  .modal1 {
    width: 300px;
    height: 541px;
    margin-left: -150px;
    margin-top: -270.5px;
  }

  .contentModal {
    width: 75%;
    height: auto;
    min-height: 180px;
    /* border: 1px solid #ff0000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .contentModal h2 {
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
  }

  .contentModal p {
    font-size: 13px;
    color: #999;
  }

  .footContainer {
    justify-content: center;
  }

  .linksFooter {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 340px;
    height: 150px;
    padding-top: 30px;
  }

  .logoFoot {
    width: 340px;
    height: 130px;
  }

  .navContainer {
    padding-left: 12px;
  }
  .tituloCursos {
    padding-left: 10px
  }
  .modalInCurso {
    top: 50%;
    left: 50%;
    width: 360px;
    height: 500px;
    margin-left: -180px;
    margin-top: -250px;
  }
  .baseForm{
    width: 100%;
    height: 300px;
  }
  .frameImg{
    width: 100%;
    height: 180px;

  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .divInput {
    display: none;
  }

  .divUser {
    display: none;
  }

  .sanduiche {
    display: flex;
  }  .modal1 {
      width: 300px;
      height: 541px;
      margin-left: -150px;
      margin-top: -270.5px;
    }

    .contentModal {
      width: 75%;
      height: auto;
      min-height: 180px;
      /* border: 1px solid #ff0000; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .contentModal h2 {
      text-transform: uppercase;
      color: #000;
      font-size: 18px;
    }

    .contentModal p {
      font-size: 13px;
      color: #999;
    }

  .footContainer {
    justify-content: center;
  }

  .linksFooter {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 340px;
    height: 150px;
    padding-top: 30px;
  }

  .logoFoot {
    width: 340px;
    height: 130px;
  }

  .navContainer {
    padding-left: 12px;
  }
  .tituloCursos {
    padding-left: 10px
  }
  .modalInCurso {
    top: 50%;
    left: 50%;
    width: 340px;
    height: 500px;
    margin-left: -170px;
    margin-top: -250px;
  }
  .baseForm{
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 319px) {

}
