@charset "UTF-8";

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee;
}
*{
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, p, span {
  margin: 0;
  color: #666;
}

.campos {
    width: 90%;
    height: 30px;
    padding: 2px 0 0 10px;
    border-radius: 6px;
    border: 1px solid #bbb6b6;
    color: #757575;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.loginBox{
  position: absolute;
  top:50%;
  left:50%;
  width:300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -155px;
  /* border:1px solid #666; */
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-wrap: wrap;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.32);
  box-shadow: 0px 0px 4px -1px rgb(0 0 0 / 32%);
}
.btn{
  width: 245px;
height: 32px;
background-color: #00aa00;
-webkit-border-radius: 22px;
-moz-border-radius: 22px;
border-radius: 22px;
border: none;
font-size: 12px;
text-transform: uppercase;
color: #fff;
cursor:pointer;
margin-top: 5px;
}
.logoBox{
 width:111px;
 height: 52px;
 background-image: url(../imagens/logoLeo.png);
 background-size: contain;
}
